body {
  margin: 0;
}

.CropperBody {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.CropperBody .CropperContainer {
  background-color: rgba(0, 0, 0, 0.137);
  background-repeat: no-repeat;
  background-position: center;
  object-fit: scale-down;
  image-rendering: optimizeQuality;
}

.CropperBody .CropperContainer img {
  position: absolute;
  z-index: 1;
}

.CropBox {
  width: 50px;
  cursor: move;
  height: 50px;
  border: 4px solid #4691f6;
  position: relative;
  z-index: 3;
}
.ResizeNodes {
  background: #4691f6;
  border-radius: 50%;
  position: relative;
  cursor: nwse-resize;
}
.rightNode {
  top: 106%;
  left: 108%;
  width: 20px;
  height: 20px;
  border: 1px solid white;
}
.save{
  position:fixed;
  width:100px;
  height:50px;
  background:black;
  color:white;
  z-index: 100;
  left:90%;
}